/JQColoredTablePlugin_installer
/JQColoredTablePlugin_installer.pl
/JQColoredTablePlugin.md5
/JQColoredTablePlugin.sha1
/JQColoredTablePlugin.tgz
/JQColoredTablePlugin.txt
/JQColoredTablePlugin.zip

pub/**/.store
data/**/.store

pub/System/JQColoredTablePlugin/coloredTable.css
pub/System/JQColoredTablePlugin/coloredTable.css.gz
pub/System/JQColoredTablePlugin/coloredTable.js
pub/System/JQColoredTablePlugin/coloredTable.js.gz
